<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ===== FONT AWESOME ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/solid.min.css"
        integrity="sha512-WTx8wN/JUnDrE4DodmdFBCsy3fTGbjs8aYW9VDbW8Irldl56eMj8qUvI3qoZZs9o3o8qFxfGcyQocUY0LYZqzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- ===== BOOTSTRAP ===== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>
</head>

<body style="margin-left: 100px;">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <hr class="my">
                <h5 style="color: white;">Cambiando la contraseña para <%= Correo %>
                </h5>
                <hr class="my">
                <div>
                    <% if(typeof errors !=='undefined' ) {%>
                        <% errors.forEach(function(item) { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                            <%})%>
                                <%}%>
                </div>
                <!-- <form class="col-12"> -->
                <!-- <form class="form-box px-3" method="POST" action="">  -->
                <div style="display: none;">
                    <input type="text" class="form-control" id="token" name="token" tabindex="10" value="<%= token %>">
                    <input type="text" class="form-control" id="id" name="id" tabindex="10" value="<%= id %>">
                </div>
                <div class="form-group" id="password-group">
                    <input type="password" class="form-control" id="password" name="password"
                      placeholder="Ingrese su contraseña">
                  </div>
                  <div class="form-group" id="password-group">
                    <input type="password" class="form-control" id="password2" name="password2"
                      placeholder="Confirmar contraseña">
                  </div>                
                <button type="submit" class="btn btn-success" id="btnEnviar" style="justify-content: center;"><i class="fas fa-sign-in-alt"></i>
                    Enviar</button>
                <!-- </form> -->
                <hr class="my">
                <div class="text-center mb-2" id="register">
                    <a href="/Inicio" class="register-link register">
                        Volver a la página de inicio.
                    </a>
                </div>
            </div>
        </div>
    </div>
 
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"
    integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#btnEnviar').click(function () {
        let data = recuperarDatosFormulario();
        console.log(data);
        if (!data) {
            console.log('error')
        } else {
            agregarRegistro(data);
        }
    })

    function recuperarDatosFormulario() {
        let data = {
            token: $('#token').val(),
            id: $('#id').val(),
            password: $('#password').val(),
            password2: $('#password2').val()
        };
        if (data.password == '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Debe ingresar la contraseña'
            });
            event.preventDefault();
            return false;
        }
        if (data.password !== data.password2) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Las contraseñas no coinciden'
            });
            event.preventDefault();
            return false;
        }
        return data;
    }

    function agregarRegistro(data) {
        $.ajax({
            type: 'POST',
            url: '/Restaurarpassword',
            data: data,
            success: function (msg) {
                Swal.fire(
                    '¡Buen trabajo!',
                    '¡Se ha cambiado la contraseña!',
                    'success'
                )
                    .then(function () {
                        window.location = "/";
                    });
            },
            error: function (error) {
                console.log('No se pudo cambiar la contraseña')
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Hubo un error'
                })
            }
        });
    }
</script>

</html>