.redText{
    color: red;
}

.form-label{
    margin-top: 20px !important;
}

#tabla {    
    text-align: center; 
}

#fecha[readonly]{
    background-color: transparent !important;     
}

#header {
    background-color: #f0fcf0;  
    justify-content: center;     
}

#footer {
    background-color: #f0fcf0;
    justify-content: center;
}

#footerDelete{
    justify-content: center;
}

